.body{
    width: available;
    height: available;
    background-color: rgb(82, 86, 89);
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
}

.container{
    width: available;
    height: available;
}


.middle{
   width: 50%;
   min-width: 500px;
   height: available;
   min-height: 650px;
   float: left;
   background-color: #000033;
   border-collapse: collapse;
   text-align: left;

}

.right{
    width: 40%;
    height: available;
    min-width: 400px;
    min-height: 690px;
    float: left;
    background-color: white;
    border-collapse: collapse;
    
    
}
.rightside{
    width: 10%;
    height: available;
    min-width: 100px;
    min-height: 690px;
    float: right;
    background-color: #E8F6F3;
    border-collapse: collapse;
    
}
.sent{
    color: white;
    float: right;
    width: 60%;
    padding: 15px;
    text-align: justify;
    
  }
.come{
    color: #000080;
    float: initial;
    width: 80%;
    padding: 15px;
    text-align: justify;
     
}
.kamara{
    width: 9%;
    height: 20%;
    position: absolute;
    top: 110px;
    left: 80px;

}
.foreward{
    top: 120px;
    color: white;
    font: sans-serif;
    font-size: 120%;
    margin-left: 57px;
    padding: 6px;
}
.kenya{
    float: initial;
    width: 80%;
    text-align: justify;
    font-weight: 750;
}
.co{
    float: initial;
    width: 80%;
    text-align: justify;
    color: #3CB371;
}
.linkedin{ 
  color: #007bb5;
  

  }

}